:root {
	--base-font-size: 12px;
	--base-font-color: #fff;
	--base-gray-font-color: rgba(255, 255, 255, 0.6);
	--base-background-color: #191919;
	--base-tab-grid-bg-color: #3d3d3d;

	// commands
	--base-command-icon-color: rgba(255, 255, 255, 0.6);
	--base-command-icon-selected-color: #fff;
}
